@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.container{
  margin: 40px auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

header{
  background-color: #ab2a19;
  color: white;
  padding: 10px 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: thin; 
  font-family: 'Open Sans', sans-serif;
}

header h1{
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 32px;
}

header .headDiv{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .link{
  background-color: #d34735;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

header .link:hover{
  opacity: 0.9;
}

.form, .dash{
  width: 500px;
}

.clearfix{
  clear: both;
  height: 0px;
}

.left{
  float: left;
  width: 45%;
  margin: 5px;
  position: relative;
}

.productCard, .form{
  padding: 20px;
  background-color: #d34735;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form{
  background-color: #3ad886;
}

.productCard img{
  width: 170px;
  height: 100px;
  margin: 10px;
}

.productCard p{
  font-size: 18px;
  font-weight: bold;
}

.productCard button, .form button{
  background-color:#3ad886;
  border-radius: 10px;
  padding: 10px 20px;
  border: 0px;
}

.form button{
  background-color: #d34735;
}

.form input{
  width: 100%;
}

.buttondiv{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}